# Compiled class file
*.class

# spec files
*.spec

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# diretorios de empacotamento (criacao de executaveis)
build/
dist/
__pycahe__/

# Prototype Files (INI) - entrada de dados do usuario
*.ini

# Arquivo JSON de entrada de dados do usuario 
*.json

# Arquivos Excel - relatorio 
*.xls
*.xlsx

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
